// Custom.scss
// Option A: Include all of Bootstrap






$navbarFonts : 'Monoton', cursive;
$titleFont : 'Big Shoulders Inline Text', cursive;
$textFont : 'Roboto Slab', serif;
$primary : #0740b3;
$secondary : #052973;
$light : #edecf3;
$spacing : 20px;
$spacing2 : 40px;
$spacing3 : 80px;

@import "node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


* {
    box-sizing: border-box;
}

.navbar  {
    background-color: $light;
    border-bottom: 1px solid $primary;
    font-family: $navbarFonts;
    font-size: $spacing;
    color: $primary;
    max-height: 120px;
    .dropdown-menu {
        width: 160px;
        li {
            font-family: $textFont;
            font-size: 12px;
        }
        a{
            font-family: $textFont;
        }
        h3 {
            font-family: $titleFont;
            font-size: 16px;
        }
    }
}

header {
    background-color: $light;
    margin-bottom: $spacing3 * 2;
}

nav ul {
  margin-bottom: 0;
}

.nav-item .nav-link li{
    font-family: $navbarFonts;
    font-size: $spacing;
    color: $primary;
}


h1 {
    color: $secondary;
    font-family: $titleFont;
}

.index-card {
    height: 400px;
}

.svg {
  padding-top: 12px;
}

#watchlist {
    background: none;
    border: none;
    color: $primary;
}
.badge {
    font-size: 16px;
}

.hello {
    font-family: $titleFont;
    font-size: 20px;
}

.account {
    font-family: $titleFont;
    font-size: 20px;
}