{% extends 'base.html.twig' %}

{% block title %}New Actor{% endblock %}

{% block body %}
    <h1 class="text-center m-5">Create new Actor</h1>
<div class="container">
    {{ include('ActorAdmin/_form.html.twig') }}

    <a href="{{ path('actor_index') }}">back to list</a>
</div>
{% endblock %}
