{% block banner %}
    <div class="alert alert-light bg-light d-block d-sm-none text-center fixed-top" role="alert" >
        <img src="{{ asset('build/wild-series.png') }}" width="70" height="50px" alt="logo">
    </div>
{% endblock %}