<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Wild Series{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="icon" sizes="64x64" type="image/png" href="{{ asset('build/wild-series.png') }}"/>
        <link rel="stylesheet" href="/assets/styles/app.scss">
        <link rel="stylesheet" href="/build/css/app.scss">
    </head>
    <body>
        {% block banner %} {% include '_mobilebanner.html.twig' %}{% endblock %}
        {% block header %}
            {% block navbar %}{% include '_navbar.html.twig' %}{% endblock %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="/build/app.js"></script>
        {% block navbarmobile %}
            {% include '_navbarmobile.html.twig' %}
        {% endblock %}
    </body>
</html>
