{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-4">{{ welcome }} sur Wild Series</h1>
            <p class="lead">Vous avez envie de Series et Films en illimité ?</p>
            <hr class="my-4">
            <p>Ça tombe bien ! je crois que j'ai ce qu'il vous faut ! </p>
            <a class="btn btn-primary btn-lg text-center" href="#" role="button">En savoir plus...</a>
        </div>
    </div>

{% endblock %}